<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
{% extends 'WebApplication/base.html' %}

{% block content %}
<title>Mechatronis store</title>
<h2 align="center">Not Found</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ID</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">วันที่</th>
        </tr>
    </thead>
    <tbody id="table-data">
        {% for object in objects %}    
        <tr class="table-active">
            <th>{{forloop.counter}}</th>        
            <td><a href="{% url 'WebApplication:itemNF' object.id %}">{{object.tag.tag_id}}</a></td>
            <td><a>{{object.tag.tag_name}}</a></td>
            <td><a>{{object.takeout_time}}</a></td>
            <td><a href="{% url 'WebApplication:deleteNF' object.id %}">ลบข้อมูล</a></td>

        </tr>
        {% endfor %} 
    </tbody>
    </table>
{% endblock %}